{
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "curly": "error",
    "eol-last": 2,
    "indent": [
      "error",
      "tab",
      { "SwitchCase": 1 }
    ],
    "no-var": "error",
    "object-curly-spacing": [
      0,
      "always"
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": [2, "never"],
    "strict": [ 0, "global" ],
    "valid-jsdoc": "error"
  }
}
